/* --------------------------- Calculator CSS ------------------------------- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: anonymouspro;
    src: url(anonymouspro/AnonymousPro-Regular.ttf);
}

@font-face {
    font-family: anonymouspro-bold;
    src: url(anonymouspro/AnonymousPro-Bold.ttf);
}

body,
html {
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    touch-action: none;
    align-items: center;
}

#header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    font-family: anonymouspro-bold;
    font-size: 26px;
    background-color: rgb(185, 166, 137);
    color: white;
}

#calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: 100%;
    background-color: rgb(185, 166, 137);
}

#calculator {
    min-height: 40vh;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#display {
    flex-grow: 1;
    min-height: 64px;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px 5px 20px;
    font-size: 26px;
    font-family: anonymouspro;
    color: black;
    background-color: rgb(221, 193, 156);
    /* Temporary styles */
    border: 1px solid black;
}

#buttons {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    /* Gap between btn rows */
    gap: 5px;
}

#buttons div {
    flex-grow: 1;
    display: flex;
    gap: 2%;
}

#buttons button {
    display: flex;
    /* Center btn text horizontally */
    justify-content: center;
    /* Center btn text vertically */
    align-items: center;
    color: white;
    background-color: rgb(129, 102, 77);
    font-size: 24px;
    font-family: anonymouspro;
}

#buttons .operator {
    background-color: rgb(73, 100, 65);
    color: white;
}

#buttons .toggled {
    background-color: rgb(216, 216, 216);
    color: black;
}

#row-5 #undo {
    font-size: 20px;
}

#row-5 #clear,
#row-5 #undo,
#row-5 #sign,
#row-5 #divide,
#row-4 button,
#row-3 button, 
#row-2 button {
    /* 1/4 of available space (gap) */
    min-width: 23.5%;
}

#row-1 #zero {
    min-width: 49%;
}

#row-1 #decimal,
#row-1 #equals {
    /* 1/4 of available space (gap) */
    min-width: 23.5%;
}